{% extends 'registration/base_login.html' %}

{% block title %}
    Password change
{% endblock title %}

{% block content %}
    <h1 class="ml-1">Password change</h1>
    <p class="ml-2">
        Please enter your old password, for security reasons and then enter your new password
        and reenter the same password again to confirm that you are entering the correct password.
    </p>
        <form method="POST" class="ml-5">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Change my password" class="btn btn-success">
        </form>
{% endblock content %}