.ml-6 {
  margin-left: 6rem;
}

.header {
  position: relative;
}

#base_wallpaper {
  position: fixed;
  opacity: 0.5;
  max-width: 100%;
}

#content {
  position: relative;
}

#footer {
  position: relative;
}

#home_logo {
  position: relative;
  /* margin-top: -150px;
  margin-left: 500px;
  max-height: 500px; */
  max-width: 50%;
}

#home_card {
  position: relative;
  /* margin-top: -350px; */
}

/* @media only screen and (max-width: 375px) {
  #home_logo {
    margin-top: -128px;
    margin-left: -6px;
    max-width: 375px;
    max-height: 500px;
  }
  #home_card {
    position: absolute;
    margin-top: -270px;
  }
}

#post_list_card {
  background-color: white;
  opacity: 0.8;
  font-weight: bold;
  color: #000000;
}

#post_detail_card {
  background-color: white;
  opacity: 0.8;
  font-weight: bold;
  color: #000000;
}

#profile_img {
  position: absolute;
  margin-top: 20px;
  margin-left: 30px;
}

#profile_details {
  margin-top: 10px;
  margin-left: 220px;
  position: relative;
} */
