.ml-6 {
  margin-left: 6rem;
}

@media only screen and (max-width: 1440px) {
    #navbar_login{
        max-width: 1440px;
    }

  #base_wallpaper,
  #base_login_wallpaper {
    margin-top: -70px;
    max-height: 1387px;
    max-width: 1440px;
    position: fixed;
    opacity: 0.6;
  }

  #content,
  #content_login {
    position: relative;
    margin-top: 100px;
  }

  #alert {
    position: relative;
    margin-top: 56px;
  }

  #login_form {
    position: absolute;
    min-width: 270px;
    left: 10px;
    top: 155px;
  }

  #lock_icon {
    position: absolute;
    left: 108px;
  }
}


#post_list_card {
  background-color: white;
  opacity: 0.8;
  font-weight: bold;
  color: #000000;
}

#post_detail_card {
  background-color: white;
  opacity: 0.8;
  font-weight: bold;
  color: #000000;
}

#profile_img {
  position: absolute;
  margin-top: 20px;
  margin-left: 30px;
}

#profile_details {
  margin-top: 10px;
  margin-left: 220px;
  position: absolute;
}
