{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
<div style="margin-left: 10px;">
    <h1>Hey,</h1>
    <div style="margin-left: 20px; padding-bottom: 100px;">
        <p>
        <h2>
            This is a ToDO app. Here you list your todo's.
        </h2>
        </p>
        <p>
        <h3>
            I warmly wellcome to this site. This is absolutely free and even free of ads.<br />
            You can Use this app to exclusively to list your todo's.<br />
            This is a platform is from students, for the students and maintained by students.<br />
        </h3>
        </p>

        <p>
        <h2>
            THE MOST IMPORTANT THING TO NOTE IS THAT WE DONT REALLY SELL YOUR DATA AND IN FUTURE WILL ALSO ADD A
            ENCRYPTION
            FEATURE
            SO THAT YOUR DATA IS TOTALY OF NO USE TO USE AND NEITHER OF THE ADMINISTARTORS COULD VIEW YOUR DATA.<BR />
            WE WOULD BE TAKING YOUR FEEDBACK POSITIVELY AND WON'T BOTHER YOU ALWAYS FOR SHARING YOUR FEEDBACK.<BR />
            IF YOU EVER HAD ANY ISSUES USING THIS APP, YOU CAN DIRECTLY GO TO THE FEEDBACK PAGE AND GIVE YOU FEEDBACK OR
            TELL US ABOUT THE
            ISSUES YOU HAVE BEEN FACING.
        </h2>
        </p>
        <p>
        <H4>THANKS</H4>
        <H5>chitchat team </H5>
        </p>
    </div>
</div>

{% endblock %}