{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="px-4" id="home_card">
    <div class="jumbotron bg-transparent">
        <h1 class="display-4">To Do app</h1>
        <p class="lead">A website built with Django.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'post_list' %}" role="button">View All To Do's</a>
        </p>
    </div>
</div>
<footer class="footer py-3 bg-dark text-white" id="footer">
    <div class="container ml-2">
        <span class="text-muted">All copyrights reserved @adityababar07<br>
            contact @ help@adityababar.co
        </span>
    </div>
</footer>

{% endblock content %}