{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<img src="{% static 'pictures/logo_transparent.png' %}" id="home_logo">
<div class="px-4" id="home_card">
    <div class="jumbotron bg-transparent">
        <h1 class="display-4">Study app</h1>
        <p class="lead">A website built with Django.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'post_list' %}" role="button">View All Posts</a>
        </p>
    </div>
</div>

{% endblock content %}