{% extends 'base.html' %}

{% block content %}
    <div class="px-5"><div class="article-entry">
        <div class='card-header'>
            <h2>{{ post.title }}</h2>
            <p>-by {{ post.author }}| {{ post.date }}</p>
        <p>
            {{ post.body }}</p>
        <p>
            <a href="{% url 'post_edit' post.pk %}">Edit</a> | <a href="{% url 'post_delete' post.pk %}">Delete</a>
        </p>
        <p>Back to <a href="{% url 'post_list' %}">All Posts</a>.</p>
    </div>
    </div>
{% endblock content %}