<!-- extending base.html -->
{% extends 'base.html' %}

{% block content %}
<div class="pt-4 px-2 bg-transparent">
    {% for post in object_list %}
    {% if user %}
    <div class="card" id="post_list_card">
        <div class='card-header '>
            <span class="font-weight-bold">
                <p><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></p>
            </span>
            <span class="text-muted">
                <p>-by {{ post.author }}| {{ post.date }}</p>
            </span>
        </div>
        <div class="card-body">
            {{ post.body }}
            <p><a href="{% url 'post_edit' post.pk %}">Edit</a> | <a href="{% url 'post_delete' post.pk %}">Delete</a>
            </p>
        </div>
        <div class="card-footer  text-muted">
            {% for comment in post.comments.all %}
            <p>
                <span class="font-weight-bold">{{ comment.author }} : {{ comment }}</span>
            </p>
            {% endfor %}

            {% include 'comments/comment_new.html' %}

        </div>
    </div>
    <br />
    {% endif%}
    {% endfor %}
</div>
{% endblock content %}