<!-- extending base.html -->
{% extends 'base.html' %}

{% block content %}
{% for post in object_list %}
<div class="px-5 bg-transparent"><div class="card" id="post_list_card">
    <div class='card-header '>
        <span class="font-weight-bold"><p><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></p></span>
        <span class="text-muted"><p>-by {{ post.author }}| {{ post.date }}</p></span></div>
    <div class="card-body">
        {{ post.body }}
        <p><a href="{% url 'post_edit' post.pk %}">Edit</a> | <a href="{% url 'post_delete' post.pk %}">Delete</a></p>
    </div>
    <div class="card-footer text-center text-muted">
        {% for comment in blog.comments.all %}
        <p>
            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
            {{ comment }}
        </p>
        {% endfor %}
    </div>
</div>
</div>
<br />
{% endfor %}
{% endblock content %}
