{% extends 'base.html' %}

{% block title %} {{ user.username }} {% endblock title %}

{% block content %}

<div class="p-3">
    <img class="profile" src="{{user.profile_image.url}}" >
    <div class="ps-4">
        <h4>
            {{ user.username }}
            <a class="btn btn-secondary" href="{% url 'profile_edit' user.pk %}">Edit Profile</a>
            <!-- <br />
            ({{ user.id }})<br /> -->
        </h4>
        {{ user.bio }}<br />
        {{ user.standard }}
        {{ user.division }}<br />
        {{ user.house }}(house)<br />
        {{ user.stream }}(stream)<br />
        {{ user.school }}<br />
        <hr>
    </div>
</div>

{% endblock %}