{% extends 'base.html' %}

{% block content %}
<div class="px-5">
    <div class="article-entry" id="post_detail_card">
        <div class='card-header'>
            <h2>{{ todo.title }}</h2>
            <p>-by {{ todo.author }}| {{ todo.date }}</p>
            <!-- <hr> -->
        </div>
        <div class="card-body">
            <p>
                {{ todo.body }}</p>
            <p>
                <a href="{% url 'todo_edit' todo.pk %}">Edit</a> | <a href="{% url 'todo_delete' todo.pk %}">Delete</a>
            </p>
            <p>Back to <a href="{% url 'todo_list' %}">All To Do's </a>.</p>
        </div>
        <div class="card-footer">

        </div>
    </div>
    {% endblock content %}