.ml-6 {
  margin-left: 6rem;
}

#base_login_body {
  background-image: url("https://source.unsplash.com/collection/385548/1440x616");
}

@media only screen and (max-width: 1440px) {
  #base_wallpaper {
    margin-top: -76px;
    max-height: 1387px;
    max-width: 1440px;
    position: fixed;
  }

  #content {
    position: relative;
  }

  #alert {
    position: relative;
    margin-top: 56px;
  }

  #login_form {
    position: absolute;
    min-width: 270px;
    left: -37px;
    top: 220px;
  }

  #lock_icon {
    position: absolute;
    left: 108px;
  }
}


#post_list_card {
  background-color: white;
  opacity: 0.8;
  font-weight: bold;
  color: #000000;
}

#post_detail_card {
  background-color: white;
  opacity: 0.8;
  font-weight: bold;
  color: #000000;
}

#profile_img {
  background-color: whitesmoke;
  position: absolute;
}
