.ml-6 {
    margin-left: 6rem;
}

#base_body, #base_login_body {
    background-image: url("https://source.unsplash.com/collection/385548/1600x900");
}

footer#footer1 {
    position: relative;
    bottom: 0px;
    display: inline-block;
    max-width: 1600px;
    min-width: 1365.5px;
    padding: 10px 10px 10px 10px;
    
}

@media (min-width: 360px) {
    #login_form {
        position: absolute;
        min-width: 270px;
        left: 10px;
        top: 220px;
    }

    #lock_icon {
        position: absolute;
        left: 150px;
    }
}

#post_list_card {
    background-color: white;
    opacity: 0.8;
    font-weight: bold;
    color: #000000;
}

#post_detail_card {
    background-color: white;
    opacity: 0.8;
    font-weight: bold;
    color: #000000;
}

#profile_img {
    background-color: whitesmoke;
    position: absolute;
    
}