.ml-6 {
    margin-left: 6rem;
}

body#base_body {
    background-image: url("https://source.unsplash.com/collection/385548/1600x900");
}

footer#footer1 {
    top: 10px;
    display: inline-block;
}

